

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

header {
  background: linear-gradient(180deg, #0057B8 12%, #3F51B5 35%, #ffffff 78%);
  color: white;
  padding: 60px 20px;
  text-align: center;
}